<div id="main">
  <ul id="product-list">
    <li class="listItem" *ngFor="let product of products; let i = index;">
      <ul class="listItemBlock">
      <li><img src="{{product.imgSrc}}"></li>
      <div class="info">
        <li class="name"><a href="{{product.link}}" target="_blank">{{product.name}}</a></li>
        <li class="descr">{{product.description}}</li>
        <li class="rating"> Rating: {{product.rating}}</li>
      </div>
      <li class="shareBtn"><a href="https://telegram.me/share/url?url=<{{product.link}}>&text=Check out this {{product.name}}" target="_blank"><button>Share</button></a></li>
      </ul>
    </li>
  </ul>
</div>
